<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="UserVO" type="geomex.models.UserVO" />
        <typeAlias alias="ArticleVO" type="geomex.models.ArticleVO" />
        <typeAlias alias="CommentVO" type="geomex.models.CommentVO" />
    </typeAliases>

    <mappers>
        <mapper resource="sqlmap/mappers/user-mapper.xml" />
        <mapper resource="sqlmap/mappers/account-mapper.xml" />
        <mapper resource="sqlmap/mappers/comment-mapper.xml" />
    </mappers>
    
</configuration>
